@model int?

<select class="form-control" id="FirstCategoryID" name="FirstCategoryID">
    <option value="">-- 请选择 --</option>
    @{
        CategoryBusiness categoryBusiness = new CategoryBusiness();
        var data = categoryBusiness.GetFirstCategory();

        foreach (var item in data)
        {
            <option value="@item.ID" @(Model == item.ID ? "selected='selected'" : "")>
                @item.Name
            </option>
        }
    }
</select>

