@model int?

<select class="form-control" id="TrayID" name="TrayID">
    <option value="">-- 请选择 --</option>
    @{
        TrayBusiness trayBusiness = new TrayBusiness();
        var data = trayBusiness.GetUnused();

        foreach (var item in data)
        {
            <option value="@item.ID" @(Model == item.ID ? "selected='selected'" : "")>
                @item.ID.ToString().PadLeft(6, '0')
            </option>
        }
    }
</select>
