@model int?

<select class="form-control" id="ParentId" name="ParentId">
    <option value="0">-- 无 --</option>
    @{
        WarehouseBusiness warehouseBusiness = new WarehouseBusiness();
        var warehouses = warehouseBusiness.Get().Where(r => r.Hierarchy <= 2).OrderBy(s => s.Hierarchy);
   
        foreach (var item in warehouses)
        {
            <option value="@item.ID" @(Model == item.ID ? "selected='selected'" : "")>
                @item.Name
            </option>
        }
    }
</select>

