<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);Initial Catalog=Phoebe4;user id=uphoebe;password=uphoebe123456"/>
  </connectionStrings>
  <appSettings>
    <!-- 应用程序名称 -->
    <add key="ApplicationName" value="海安润思达食品有限公司冷链管理系统"/>
    <!-- 业务访问方式 -->
    <add key="CallerType" value="win"/>
    <!-- 数据库类型 -->
    <add key="DbType" value="sqlserver"/>
    <!-- 读取字符串位置 -->
    <add key="ConnectionSource" value="appconfig"/>
    <!-- 数据库连接字符串键值 -->
    <add key="DbConnection" value="sqlserver"/>
    <!-- 数据访问层名空间前缀 : SQLServer, Mongo, Sqlite, MySQL -->
    <add key="DALPrefix" value="SQLServer"/>
    <!-- 日志级别 -->
    <add key="LogLevel" value="5"/>
  </appSettings>
</configuration>
