@{ 
    Layout = null;
}


<div class="row" id="process-container">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;冷藏费结果
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <h4>累计冷藏费用：</h4>
                <p>@ViewBag.TotalFee  元</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
 
</script>