@{ 
    Layout = null;
}


<div class="row" id="process-container">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;冷藏费表单
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
                <div class="actions">
                    <!--<a href="javascript:;" class="btn btn-default btn-sm btn-print">
                        <i class="fa fa-print"></i>&nbsp;打印
                    </a>-->
                </div>
            </div>
            <div class="portlet-body">
                @ViewBag.TotalFee
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
 
</script>