@model IEnumerable<Phoebe.Model.Cargo>

@{
    ViewBag.Title = "待结算货品";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">财务结算</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;信息选择
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户类型</label>
                                    <div class="col-md-8">
                                        <select id="CustomerType" name="CustomerType" class="form-control">
                                            <option value="">-- 请选择 --</option>
                                            <option value="1">团体客户</option>
                                            <option value="2">零散客户</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户选择</label>
                                    <div class="col-md-8">
                                        <select id="CustomerID" name="CustomerID" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">合同选择</label>
                                    <div class="col-md-8">
                                        <select id="ContractID" name="ContractID" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-settle-index'));
            var customerType = 0;
            var customerID = 0;

            $('#CustomerType').change(function () {
                customerType = $(this).val();

                $('#CustomerID').empty();
                $('#ContractID').empty();
                if (customerType == '')
                    return;

                $.getJSON('/Contract/GetCustomers', { type: customerType }, function (response) {
                    $('#CustomerID').append(" <option value=''>-- 请选择 --</option>");
                    $.each(response, function (i, item) {
                        $('#CustomerID').append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                    });
                });
            });

            $('#CustomerID').change(function () {
                customerID = $(this).val();

                $('#ContractID').empty();
                if (customerID == '')
                    return;

                $.getJSON('/Contract/GetByCustomer', { customerType: customerType, customerId: customerID }, function (response) {
                    $('#ContractID').append(" <option value=''>-- 请选择 --</option>");
                    $.each(response, function (i, item) {
                        $('#ContractID').append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                    });
                });
            });
        });
    </script>
}
