<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PhoebeContext" connectionString="metadata=res://*/PhoebeModel.csdl|res://*/PhoebeModel.ssdl|res://*/PhoebeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Phoebe3;user id=uphoebe;password=uphoebe123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>